<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../../assets/images/beer.png" alt="prueba"></ion-img>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label color="primary" position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email" placeholder="Introduzca una dirección de email"></ion-input>
    </ion-item>
    <ion-item>
      <app-password-component>
          <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
      </app-password-component>
    </ion-item>
    <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
  </form>
</ion-content>
